Arquivos de Sistema e IDEs

.DS_Store
.vscode/
.idea/
*.swp
Projeto.txt
ativos_sql.py
chave.json
aleatorios.py
app1.py
gerar_ativos_json.py
julios.py
investIA/
Relatório_Geral_07_08_2025.xlsx
Relatório_Geral_07_08_2025_(português).xlsx
ativos1.json


Arquivos de Cache e Build

__pycache__/
*.pyc
build/
dist/

Ambientes Virtuais

venv/
env/

SEGURANÇA: Variáveis de ambiente e segredos

.env
.streamlit/secrets.toml
secrets.json

Dados grandes ou gerados que não devem ir para o Git
Arquivos de dados muito grandes (ex: se o CSV fosse enorme)

data/*.csv

Pastas de resultados ou logs

logs/
